* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    min-height: 80vh;
    background-color: rgb(66, 61, 61);
    position: relative;
}

h1 {
    color: whitesmoke;
    font-size: 3rem;
    -webkit-text-stroke: 1.5px rgb(3, 3, 3);
}

h1::before {
    content: 'Neon Button';
    color: rgb(57, 190, 57);
    position: absolute;
    transform: translate(-0.3%, 3%);
    z-index: -1;
    -webkit-text-stroke: 0px;
    text-shadow: 0 0 9px;
}

h1::after {
    content: 'Design';
    color: rgb(177, 177, 37);
    position: absolute;
    transform: translate(-100.6%, 3%);
    z-index: -1;
    -webkit-text-stroke: 0px;
    text-shadow: 0 0 9px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
}

.btn {
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: whitesmoke;
    background-color: rgb(53, 30, 30);
    border: 4px solid #b4a8a8;
    padding: 1rem 3rem;
    cursor: pointer;
}

span {
    position: relative;
    z-index: 1;
}

.btn:nth-child(1):hover {
    border-color: #10ff00;
    color: #10ff00;
}

.btn:nth-child(2):hover {
    border-color: yellow;
    color: yellow;
}

.btn:nth-child(3):hover {
    border-color: #ff0000;
    color: #ff0000;
}

.btn:nth-child(4):hover {
    border-color: #00ffd9;
    color: #00ffd9;
}