* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    min-height: 80vh;
    background-color: rgb(66, 61, 61);
    position: relative;
}

h1 {
    color: whitesmoke;
    font-size: 3rem;
    -webkit-text-stroke: 1.5px rgb(3, 3, 3);
}

h1::before {
    content: 'Neon Button';
    color: rgb(226, 41, 8);
    position: absolute;
    transform: translate(-0.3%, 3%);
    z-index: -1;
    -webkit-text-stroke: 0px;
    text-shadow: 0 0 9px;
}

h1::after {
    content: 'Design';
    color: rgb(248, 7, 168);
    position: absolute;
    transform: translate(-100.6%, 3%);
    z-index: -1;
    -webkit-text-stroke: 0px;
    text-shadow: 0 0 9px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
}

.btn {
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: whitesmoke;
    background-color: rgb(53, 30, 30);
    border: 4px solid #b4a8a8;
    padding: 1rem 3rem;
    cursor: pointer;
}

span {
    position: relative;
    z-index: 1;
}

.btn:nth-child(1):hover {
    border-color: #10ff00;
    color: #10ff00;
    box-shadow: 0 0 0 #10ff00;
    animation: box 3s infinite;
}

.btn:nth-child(2):hover {
    border-color: yellow;
    color: yellow;
    box-shadow: 0 0 0 yellow;
    animation: box 3s infinite;
}

.btn:nth-child(3):hover {
    border-color: #ff0000;
    color: #ff0000;
    box-shadow: 0 0 0 #ff0000;
    animation: box 3s infinite;
}

.btn:nth-child(4):hover {
    border-color: #00ffd9;
    color: #00ffd9;
    box-shadow: 0 0 0 #00ffd9;
    animation: box 3s infinite;
}

@keyframes box {
    0% {
        box-shadow: rgb(53, 30, 30);
    }

    50% {
        box-shadow: 0 0 27px;
    }

    100% {
        box-shadow: rgb(53, 30, 30);
    }
}

.btn::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: 70%;
    top: -25%;
    transform: translate(0%, 15%);
    transition: left 1s ease;
}

.btn::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: 20%;
    top: 120%;
    transform: translate(0%, -115%);
    transition: left 1s ease;
}

.btn:hover::before {
    left: 80%;
    animation: rotateTop 3s infinite;
}

.btn:hover::after {
    left: 10%;
    animation: rotateBottom 3s infinite;
}

@keyframes rotateTop {
    0% {
        transform: translate(0, 15%) rotate(0deg);
    }

    25% {
        transform: translate(0, 15%) rotate(90deg);
    }

    50% {
        transform: translate(0, 15%) rotate(180deg);
    }

    75% {
        transform: translate(0, 15%) rotate(270deg);
    }

    100% {
        transform: translate(0, 15%) rotate(360deg);
    }
}

@keyframes rotateBottom {
    0% {
        transform: translate(0, -115%) rotate(0deg);
    }

    25% {
        transform: translate(0, -115%) rotate(-90deg);
    }

    50% {
        transform: translate(0, -115%) rotate(-180deg);
    }

    75% {
        transform: translate(0, -115%) rotate(-270deg);
    }

    100% {
        transform: translate(0, -115%) rotate(-360deg);
    }
}

.btn:nth-child(1)::before {
    background-color: #10ff00;
    border-radius: 2px;
}

.btn:nth-child(1)::after {
    background-color: #10ff00;
    border-radius: 2px;
}

.btn:nth-child(2)::before {
    background-color: yellow;
    border-radius: 50px;
}

.btn:nth-child(2)::after {
    background-color: yellow;
    border-radius: 50px;
}

.btn:nth-child(3)::before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #ff0000;
    top: -37.5%;
}

.btn:nth-child(3)::after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #ff0000;
    top: 123.5%;
}

.btn:nth-child(4)::before {
    background-color: #00ffd9;
    border-radius: 2px;
    width: 25px;
    height: 10px;
    top: -17%;
}

.btn:nth-child(4)::after {
    background-color: #00ffd9;
    border-radius: 2px;
    width: 25px;
    height: 10px;
    top: 118%;
}